body{
	background: url(../img/bodyBGIMG.png) repeat-x;
	height: 5000px;
}

/* 设置页面内容居中class */
.pageWidth{
	width: 940px;
	margin: 0 auto;
}
/* 解决高度塌陷 */
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
	clear:both;
}

.header{
	/* 测试用header背景色 */
	background-color: antiquewhite;
	
	/* 设置内边距 */
	padding-top: 37px;
	padding-bottom: 48px;
}
	.header .logo{
		margin-left: 15px;
	}
	/* 导航栏 */
	.header .nav{
		float: right;
		margin-top: 22px;
	}
	.header .nav li{
		float: left;
		padding: 0px 10px 8px 10px;
		border-left: dashed #d6d6d6 1px;
	}
	/* 导航大标题 */
	.nav li a{
		font: bold 14px georgia;
		color: #666;
		text-decoration: none;
	}
	/* 导航小标题 */
	.nav li p{
		/* chrome字体最小支持12px，12以下不能正常显示 */
		font:  12px tahoma;
		color: #b7b7b7;
	}
	.nav li a:hover{
		color: red;
		text-decoration: underline;
	}
/* banner */
.banner{
	background: url(../img/bannerShadow.gif) repeat-x bottom;
	height: 365px;
	position: relative;
}
/* 导航按钮 */
.pointerDiv{
	position: absolute;
	left: 15px;
	bottom: 33px;
}
.pointerDiv a{
	float: left;
	width: 17px;
	height: 17px;
	background: url(../img/pointer.png) no-repeat;
	margin-left: 4px;
}
.pointerDiv a:hover,
.pointerDiv .actived{
	background: url(../img/pointer_active.png) no-repeat;
}

/* content */

.content h1{
	text-align: center;
	font: bold 24px georgia;
	padding-top: 5px;
	padding-bottom: 8px;
	background: url(../img/h1_line.png) no-repeat bottom center;
	margin-bottom: 38px;
}
.content .pl,.content .cs,.content .uc{

	
	width: 300px;

	
	/* 向左浮动 */
	float: left;
}
.content .cs{
	margin: 0 20px;
}
.content h2{
	font: 21px georgia;
	color: #11719e;
}
.content h3{
	font: 12px helvetica;
	color: #8c8c8c;
}
.content .imgDiv{
	width: 299px;
	height: 190px;
	background: url(../img/5.jpg) no-repeat ;
	text-align: center;
	padding-top: 12px;
}
.content p{
	height: 92px;
	font: 13px helvetica;
	color: #3e3e3e;
}
.content .lm{
	display: block;
	width: 163px;
	height: 32px;
	background: url(../img/button.jpg) no-repeat ;
	text-decoration: none;
	font: 16px helvetica ;
	color: #016999;
	line-height: 32px;
	text-indent: 5px;
	margin-bottom: 35px;
}















